[submodule "bats"]
	path = bats
	url = https://github.com/sstephenson/bats.git
[submodule "bats-assert"]
	path = bats-assert
	url = https://github.com/ztombol/bats-assert.git
[submodule "bats-docs"]
	path = bats-docs
	url = https://github.com/ztombol/bats-docs.git
[submodule "bats-file"]
	path = bats-file
	url = https://github.com/ztombol/bats-file.git
[submodule "bats-support"]
	path = bats-support
	url = https://github.com/ztombol/bats-support.git
